.nav {
    font-weight: bolder;
    color: white;
    font-size: 2em;
}

.main {
    background-image: url(./images/banner.png);

    width: 100%;
}

.main>.navbar {
    background-image: url(./images/banner.png);
}

.content {
    background-color: rgb(131, 39, 0);
    width: 40%;
    color: white;
    text-align: justify;
    padding: 2%;
}

.btn1 {
    padding: 1% 4%;
    border-radius: 20px;
    color: white;
}

.btn1:hover {
    background-color: gray;
    color: black;
    border: none;
}

.front-img {
    background-color: blue;
    width: 33%;
    height: 78vh;
    margin-top: 4%;
}

.front-img>img {
    width: 100%;
    height: inherit;
}

.combine-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.para {
    font-size: 19px;
}

.front-heading-1 {
    font-size: 40px;
}

.front-heading-2 {
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 3%;
}

/* section 2 */

.sec2 {
    height: 100vh;
    width: 100%;
    background-color: rgb(53, 51, 51);
    position: relative;
    display: flex;
    flex-wrap: wrap;

}

.img-box {
    width: 50%;
    height: 68vh;
    background-color: #F77A18;
    padding: 3%;

}

.img-box>img {
    height: 73vh;
    width: 120%;
}

.info {
    /* min-width: 320px;
    max-width: 20%; */
    width: 35%;
    background-color: white;
    position: absolute;
    bottom: 43%;
    left: 50%;
    padding: 1% 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Third portion */

.sec3 {
    color: rgb(110, 110, 110);
}

.card {
    color: white;
    background-color: rgb(28, 28, 28);
    padding: 3%;
    border: none;
}

.card:hover {
    background-color: black;
}

.cd1 {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;

}

.cd2 {
    border-radius: 0px;
}

.cd3 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.third {
    justify-content: center;
    flex-wrap: wrap;
}

.third-head {
    margin: 6%;
}

.third-head>h1,
.fourth h1 {
    font-family: monospace;
    font-size: 45px;
}

/* fourth sec */

.fourth {
    color: grey;
    margin: 5%;
}

.fourth-combine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faq {
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;
    width: 45%;
    font-size: 18px;
    margin: 2%;
    padding: 1%;
    border-radius: 13px;
}

.faq:hover {
    cursor: pointer;
    background-color: rgb(234, 230, 230);
    color: black;
}

/* Fifth-sec */

.fifth-head>h2 {
    font-size: 40px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fifth-sub-head>h3 {
    font-size: 40px;
}

.fifth {
    background-color: bisque;
}

.btn {
    background-color: white;
    color: rgb(104, 103, 103);
    padding: 3% 15%;
    font-size: 18px;
}

.btn:hover {
    background-color: rgb(165, 164, 164);
    color: white;
}

.fifth-inner {
    border: 2px solid red;
    width: 45%;
}

.send {
    background-color: black;
    color: white;
    padding: 3% 15%;
    border-radius: 0px;
}

.fifth-right {
    border: 2px solid palevioletred;
}

.fifth-sec {
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.inp {
    border-bottom: 2px solid yellowgreen;

}

textarea {
    background: transparent;
    border: none;
}

input {
    background: transparent;
    border: none;
    height: 7vh;
}

.footer {
    background-color: #F77A18;
    font-size: 18px;
    color: white;
    padding: 1%;
    padding-top: 2.5%;
}